.vscode
.idea

en/**/CustomDef

Extract
language
/li-expand

Utils/convert-todo
Utils/SteamMod
Utils/Mod/Mod/Languages/Ukrainian (Crowdin)/LanguageInfo.xml
Utils/Mod/Core
Utils/Mod/Royalty
Utils/Mod/Ideology
Utils/Mod/Biotech
Utils/Mod/Anomaly
Utils/Mod/Odyssey
Utils/Mod/CrowdinFiles/*
